

body {
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    background: linear-gradient(90deg, #024E82, #5CB9BC);
}


.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.form-box {
    width: 60%;
    margin: auto;
    padding: 20px;
    color: white;
    margin-left: 80px;
}

.form-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.form-box h2 {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 40px;
}

.fila {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 70px;
}

.fila input, textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 60%;
}
.fila-espaciado{
    display: flex;
    gap: 8px;
    width: fit-content;
}

textarea {
    height: 120px;
}

.captcha {
    margin: 20px 0;
    margin-left: 70px;
}

.btn-enviar {
    margin-top: 15px;
    margin-left: 40px;
    padding: 12px 25px;
    font-size: 18px;
    background: #0077a8;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-enviar:hover {
    background: #005f87;
}

.logo-img {
    width: 40%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-img img {
    width: 100%;
    margin: 0;
}

/* =========================================
DISEÑO RESPONSIVE 
   ========================================= */

@media (max-width: 768px) {
    
    .container {
        flex-direction: column-reverse; 
        padding-top: 50px; 
    }
    
    .fila-espaciado {
        flex-direction: column; 
        width: 100%; 
        gap: 15px; 
    }

    
    .fila-espaciado input {
        width: 100% !important; 
        margin: 0; 
    }
    



    .fila {
        margin-left: 0;
        width: 100%;
    }

    .fila input, 
    textarea {
        width: 100%;
        padding: 12px;
        box-sizing: border-box; 
    }

    .captcha {
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .btn-enviar {
        margin-left: 0;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .logo-img {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
        height: auto;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .logo-img img {
        max-width: 250px; 
        width: 100%;
    }
    .form-box h1 {
        font-size: 24px;  
        margin-left: 0;  
        margin-right: 0;
        text-align: center; 
        width: 100%;     
        word-wrap: break-word; 
        line-height: 1.2; 
        margin-bottom: 20px;
    }
}